.background {
    -fx-background-color: #1d1d1d;
    -fx-border-width: 10px;
    -fx-border-color: #b80909;
}
.button:hover {
    -fx-background-color: red;
}
.text-field-mio{
    -fx-background-color: #1d1d1d;
    -fx-border-width: 10px;
    -fx-border-color: #b80909;
    -fx-font-family: 'Grape Nuts', cursive;



}
